<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repostería</title>
</head>
<body>
    <main class=" cuerpo ">
        <div class=" central">
            <div class="izquierdo">
                <img src="./assets/img/logo.png" width="300" height="300">
                <p class="letra">"El postre va al corazón"</p>
            </div>
            <div class="derecho">
                <img src="./assets/img/cupcake.png" width="300" height="300">
                <input class="m-3 w-50" type="email" name="Email" id="email" placeholder="Email" aria-label="Username">
                
                <input class="m-4 w-50" type="password" name="password" id="password" placeholder="Password" aria-label="Username">
    
                <button routerLink="/home" type="button m-4" class="btn btn-secondary">Iniciar Sesión</button>
            </div>
        </div>
    </main>
        
    
</body>
</html>

