<header class="cabeza">
    <div class="w-100">
        <h3 class="m-3">Jose Manuel</h3>
    </div>

    <div class="w-100 d-flex justify-content-end">
        <img class="m-3" src="./assets/img/logo.png"  width="100" height="100">
    </div>
</header>


<body class="cuerpo">
    <div class="columnas">
        <div class="card shadow" style="width: 12rem;">
            <img  src="./assets/img/hombre.png" class="card-img-top" >
            <div class="card-body d-flex justify-content-center">
              <h5 class="card-title">Many</h5>
              
            </div>
          </div>
    </div>

    <div class="columnas">
        <div routerLink="/catalogo/true/0" class="menus rounded m-5 p-5 shadow">
            <img src="./assets/img/catalogar.png" width="50" height="50">
            <h3>Catalogo</h3>
        </div>

        <div routerLink="/tickets/true/1" class="menus rounded m-5 p-5 shadow">
            <img src="./assets/img/boleto.png" width="50" height="50">
            <h3>Tickets</h3>
        </div>
        <div routerLink="/reportes/true/0" class="menus rounded m-5 p-5 shadow">
            <img src="./assets/img/reporte-de-negocios.png" width="50" height="50">
            <h3>Reportes</h3>
        </div>
        <div routerLink="/" class="menus rounded m-5 p-5 shadow">
            <img src="./assets/img/cerrar-sesion.png" width="50" height="50">
            <h3>Cerrar Sesión</h3>
        </div>
    </div>
</body>